site_name: Asyncz
site_description: The APScheduler simplified and in Pydantic.
site_url: https://asyncz.tarsild.io

theme:
  name: "material"
  custom_dir: docs/overrides
  language: en
  palette:
    - scheme: "default"
      primary: "orange"
      accent: "red"
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: "material/toggle-switch-variant"
        name: "Switch to dark mode"
    - scheme: "slate"
      media: "(prefers-color-scheme: dark)"
      primary: "orange"
      accent: "green"
      toggle:
        icon: "material/toggle-switch-variant-off"
        name: "Switch to light mode"
  favicon: statics/images/favicon.ico
  logo: statics/images/logo-white.svg
  features:
    - search.suggest
    - search.highlight
    - content.tabs.link

repo_name: tarsil/asyncz
repo_url: https://github.com/tarsil/asyncz
edit_uri: ""
plugins:
  - search
  - markdownextradata:
      data: data

nav:
  - Asyncz: "index.md"
  - Tasks: "tasks.md"
  - Events: "events.md"
  - Executors: "executors.md"
  - Schedulers: "schedulers.md"
  - Stores: "stores.md"
  - Triggers: "triggers.md"
  - ASGI and Frameworks:
      - Esmerald:
          - Overview: "contrib/esmerald/index.md"
          - Scheduler: "contrib/esmerald/scheduler.md"
          - Decorator: "contrib/esmerald/decorator.md"
  - Contributing: "contributing.md"
  - Vendors: "vendors.md"
  - Sponsorship: "sponsorship.md"
  - Release Notes: "release-notes.md"
markdown_extensions:
  - toc:
      permalink: true
  - markdown.extensions.codehilite:
      guess_lang: false
  - mdx_include:
      base_path: docs
  - admonition
  - codehilite
  - extra
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format ""
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html

extra:
  alternate:
    - link: /
      name: English
      lang: en
    # - link: /pt/
    #   name: Portuguese (Portugal)
    #   lang: en
